<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaf Disease Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Upload a Leaf Image</h2>
    
    <input type="file" id="fileInput">
    <button onclick="uploadImage()">Predict</button>

    <div id="result"></div>
    <img id="uploadedImage" style="display:none; width: 300px; margin-top: 20px;">

    <script src="{{ url_for('static', filename='script.js') }}"></script> <!-- Linking the new JS file -->
</body>
</html>
